.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.eachBtn {
  padding: 8px 12px;
  margin-right: 5px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.eachBtn:hover {
  background-color: #000;
  color: #fff;
}

.eachBtn:focus {
  outline: none;
}

.eachBtn:first-child {
  margin-left: 0;
}
